<!doctype html>
<html lang="en-us">
    <head>

        <title>Michael Gilbertson | mggwxyz</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="images/favicon.png" type="image/x-icon">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.0/css/bulma.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="css/main.min.css">

    </head>
    <body>
        <div id="app" class="is-fullwidth">
            <nav class="container nav">
                <div class="nav-left">
                    <span class="nav-item">
                        <a href="http://www.github.com/mggwxyz" title="GitHub Profile">
                            <span class="icon">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                    <span class="nav-item">
                        <a href="http://www.linkedin.com/in/mggwxyz" title="LinkedIn Profile">
                            <span class="icon">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                </div>

                <!-- This "nav-menu" is hidden on mobile -->
                <!-- Add the modifier "is-active" to display it on mobile -->
                <div class="nav-right nav-menu" v-bind:class="{ 'is-active': activeNavMenu }">
                    <a class="nav-item" v-on:click="activeNavMenu = false" href="#about">
                        About
                    </a>
                    <a class="nav-item" v-on:click="activeNavMenu = false" href="#experience">
                        Experience
                    </a>
                    <a class="nav-item" v-on:click="activeNavMenu = false" href="#projects">
                        Projects
                    </a>
                    <a class="nav-item" v-on:click="activeNavMenu = false" href="#contact">
                        Contact
                    </a>
                </div>

                <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
                <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
                <span v-on:click="activeNavMenu = !activeNavMenu" class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </nav>

            <section class="hero is-medium is-info is-bold">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns">
                            <div class="column is-9">
                                <h1 class="title is-1">
                                    Michael Gilbertson<br>
                                    @mggwxyz
                                </h1>
                                <h2 class="subtitle is-3">
                                    Human Web Developer<br>
                                </h2>
                                <p><strong>This website is currently under construction...</strong></p>
                                <p>Please click the octocat int the top-left corner to go to my GitHub profile</p>
                            </div>
                            <div class="column box has-text-center is-hidden-touch has-z-index-5">
                                <figure class="image is-square">
                                    <img  src="images/profile-pic.jpg">
                                </figure>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="stars"></div>
            </section>

            <section id="about" class="section">
                <div class="container ">
                    <h2 class="title is-2">
                        About Me
                    </h2>
                    <div class="content">
                        <p v-for="paragraph in about_me.paragraphs">{{paragraph}}</p>
                    </div>
                </div>
            </section>

            <hr>

            <section id="experience" class="section">
                <div class="container">
                    <h2 class="title is-2">
                        Experience
                    </h2>
                    <div class="container">
                        <h3 class="title">Jobs</h3>
                        <template v-for="fulltime_job in experience.fulltime_jobs">
                            <div class="columns is-mobile">
                                <div class="column is-one-quarter-mobile is-1-desktop">
                                    <figure class="image is-square">
                                      <img v-bind:src="fulltime_job.company_logo_url">
                                    </figure>
                                </div>
                                <div class="column">
                                    <div class="content">
                                        <p class="title is-3">{{fulltime_job.position}}</p>
                                        <p class="subtitle is-5">{{fulltime_job.company}}</p>
                                        <p>{{fulltime_job.description}}
                                            <br>
                                            <em>{{fulltime_job.date_range}}</em>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                    <hr>
                    <div class="container">
                        <h3 class="title">Internships</h3>
                        <template v-for="internship in experience.internships">
                            <div class="columns is-mobile">
                                <div class="column is-one-quarter-mobile is-1-desktop">
                                    <figure class="image is-square">
                                      <img v-bind:src="internship.company_logo_url">
                                    </figure>
                                </div>
                                <div class="column">
                                    <div class="content">
                                        <p class="title is-3">{{internship.position}}</p>
                                        <p class="subtitle is-5">{{internship.company}}</p>
                                        <p>{{internship.description}}
                                            <br>
                                            <em>{{internship.date_range}}</em>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                    <hr>
                    <div class="container">
                        <h3 class="title">Education</h3>
                        <div class="columns is-mobile">
                            <div class="column is-one-quarter-mobile is-1-desktop">
                                <figure class="image is-square">
                                  <img v-bind:src="experience.education.school_logo">
                                </figure>
                            </div>
                            <div class="column">
                                <div class="content">
                                    <p class="title is-3">{{experience.education.major}}</p>
                                    <p class="subtitle is-5">{{experience.education.minor}}</p>
                                    <p>{{experience.education.school}} <em>{{experience.education.date_range}}</em></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <hr>

            <section id="projects" class="section">
                <div class="container">
                    <h1 class="title is-2">
                        Projects
                    </h1>
                    <div class="columns is-multiline">
                        <div v-for="project of projects" class="column is-half ">
                            <div class="card">
                                <header class="card-header">
                                    <div class="card-header-icon">
                                        <span class="icon">
                                            <i class="fa fa-code" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <p class="card-header-title">
                                        {{project.title}}
                                    </p>
                                </header>
                                <div class="card-image">
                                    <figure class="image is-16by9">
                                        <img v-bind:src="project.preview_image_url" v-bind:alt="project.title">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <p>{{project.description}}</p>
                                        <template v-for="technology in project.technologies">
                                            <span class="tag has-margin-right">
                                                {{technology}}
                                            </span>
                                        </template>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a v-bind:href="project.demo" class="card-footer-item">Demo</a>
                                    <a v-bind:href="project.src" class="card-footer-item">Source Code</a>
                                </footer>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </section>

            <section id="contact" class="hero is-medium is-info is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h2 class="title is-1">
                            Contact
                        </h2>
                        <h3 class="subtitle">Feel free to reach out...</h3>
                        <p><strong>Location:</strong> Washington DC</p>
                        <p><strong>Email:</strong> <a href="mailto:mggwxyz@gmail.com?Subject=Hello%20again" target="_top">mggwxyz@gmail.com</a></p>
                        <p><strong>Cell:</strong> (703) 343-3735</p>
                    </div>
                </div>
            </section>

            <!-- Dependencies -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>

            <script src="js/main.min.js"></script>

        </div>
    </body>
</html>
